@use "sass:color";
@import 'variables';
@import 'include-media';

body {
	color: $brand-grey;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

code {
	font-family: 'JetBrains Mono', monospace;
}
