@use "sass:color";
@import 'variables';
@import 'include-media';

body {
	color: $brand-grey;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: $brand-orange;
	&:focus {
		outline: 1px dashed $brand-orange;
	}
}

code {
	font-family: 'JetBrains Mono', monospace;
	font-size: 1.2em;
}

.button {
	color: $brand-grey;
	background-color: lighten($brand-grey, 60%);
	border: 1px solid lighten($brand-grey, 40%);
	padding: 3mm 3vw;
	text-decoration: none;
	transition: all 300ms;
	&:hover {
		color: $brand-orange;
		border: 1px solid $brand-orange;
	}
}
